html, body
{
    background-color: #16191e;
    height: 100%;
}

.v-centered {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.navbar-spacer {
    margin-top: 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch label {
    margin-bottom: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171a1d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #485054;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.checked {
    background-color: #005da7;
}

.slider.checked:before {
    transform: translateX(32px);
}

.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}